* {
    font-family: 'Montserrat', sans-serif;
}
.fadeOutClass{
    animation: fadeOut 1s;
    animation-delay:{{fadeoutTime}}s;
    animation-fill-mode: forwards;
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.event-follower {
    mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
    -webkit-mask-image: url('https://cdn.streamelements.com/static/custom-event-list/follower.svg');
}

@keyframes slide-in {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}

@keyframes pop-in {
    0% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 23px;
        margin-left: 24px;
    }
    50% {
        width: 0px;
        height: 0px;
        background-size: 0px 0px;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 12px
    }
    85% {
        width: 23px;
        height: 23px;
        background-size: 23px 23px;
        margin-top: 1px;
        margin-left: 2px;
        margin-right: 0px;
        margin-bottom: 0px
    }
    100% {
        width: 21px;
        height: 21px;
        background-size: 21px 21px;
        margin-top: 2px;
        margin-left: 3px;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.main-container{
    color: {{fontColor}};
  	font-size: {{trackerFontSize}}px;
}
.event-container {
    width: 0px;
  	height: {{trackerHeight}}px;
    display: flex;
    justify-content: right;
    background-color: {{backgroundColor}};
    border-radius: 14px;
    margin-top: 3px;
    animation: 0.6s slide-in;
    animation-fill-mode: forwards;
}
.backgroundsvg{
    background: url(https://s3.amazonaws.com/cdn.streamelements.com/static/event-list/patterns/{{theme}}.svg);
    background-size: 300px;
    width:100%;
    opacity:calc({{backgroundOpacity}}/100);
    position:relative;
    z-index:0;
}
.username-container {
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    font-weight: 700;
    margin-top: {{trackerFontMarginTop}}px;
  	margin-left: {{trackerFontMarginLeft}}px;
    position:absolute;
}

.goal-container {
    position: absolute;
    animation: 1.2s fade-in;
    animation-fill-mode: forwards;
    display: inline-block;
    right: 0px;
    font-weight: 700;
    text-align: right;
  	margin-right: {{trackerFontMarginRight}}px;
    margin-left: 85px;
  	margin-top: {{trackerFontMarginTop}}px;
}

.marquee-container{
  overflow:hidden;
  color: {{donorColor}};
  font-size: {{donorFontSize}}px;
  margin-top: -15px;
}
.marquee{
  min-width:100%;
  animation: marquee 15s linear infinite;
}
.donor-spacer{
	padding-right: 50px;
}

@keyframes marquee {
  from{margin-left : 120%;}
    to{margin-left: -20%;}
} 
